body{
  background: antiquewhite;
  margin: 0;
  min-height: 100vh;
}

.linktree{
  font-family: 'Merriweather', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.site{
  font-family: 'Merriweather', sans-serif;
  display: flex;
  align-items: center;
  flex-direction:column;
}

.link{
    color: black;
    display: block;
    width: 80vw;
    margin: 1vh;
    border-radius: 2vh;
    font-size: 200%;
    text-align: center;
    text-decoration: none;
    background: navajowhite;
    padding: 3%;
    transition: transform 0.5s;
}

.link:hover{
    transform: scale(1.2);
}

.link:active{
    transform: scale(1.1);
}

.link:visited{
    color: black;
}

.navbar {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: left;
}

.navbar li a {
    display: block;
    color: black;
    padding: 1.75vh 1.75vh;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: bisque;
}

.navbar li a:active{
    background-color: burlywood;
}
.navbar a.active{
    background-color: antiquewhite;
}

.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    background-color: white;
    transition: max-height 0.4s, opacity 0.4s;
}

.dropdown:hover .dropdown-content {
    max-height: 30vh;
    opacity: 1;
}

.footer{
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.head_img{
  align-content: center;
  text-align: center;
  font-size: 140%;
  color: white;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 45vh;
}

.head_img h1{
  -webkit-text-stroke: 2px black;
}

.mid_txt{
  margin: 5vh 0 5vh 0;
  width: 66vw;
  font-size: 1.66vh;
}

.mid_img{
  width: 66vw;
  border-radius: 50%;
}

table, th, td {
  font-size: 1.66vh;
  background-color: cornsilk;
  border: 1px /* tutaj specjalnie px*/ solid black;
  border-collapse: collapse;
  padding: 1.75vw;
}

.instruction{
  display: flex;
  align-items: center;
  margin-outside: 2vh;
  text-align: center;
  font-size: 75%;
}

.instruction-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instruction img{
  max-width: 40vw;
  height: auto;
}


.startbutton{
  color: black;
  display: block;
  font-size: 200%;
  margin: 1vh;
  border-radius: 5vw;
  text-align: center;
  text-decoration: none;
  background: navajowhite;
  padding: 3%;
  border-color: saddlebrown;
}

.startbutton:active{
  transform: scale(1.1);
}

@media (min-width: 720px) {
  .link {
    width: 30vw;
  }

  .navbar li a {
    padding: 1.75vh 1.75vh;
  }

  .head_img {
    height: 45vh;
    font-size: 200%;
  }

  .instruction{
    font-size: 100%;
  }
  .instruction img {
    width: 30vh;
    height: 30vh;
    max-width: none;
  }

  .startbutton{
    border-radius: 2vw;
  }
}

/* poniższy css został skopiowany z poradnika i dostosowany pod moją stronę*/
/* Sets the containers height and width */
.base-timer {
  position: relative;
  height: 30vh;
  width: 30vh;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 6%;
  stroke: grey;
}

.base-timer__label {
  position: absolute;

  /* Size should match the parent container */
  height: 30vh;
  width: 30vh;

  /* Keep the label aligned to the top */
  top: 0;

  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 7vh;
}

.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 6%;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: currentColor;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

.base-timer__path-remaining.coffee {
  color: saddlebrown;
}