body{
  background: antiquewhite;
  margin: 0;
  min-height: 100vh;
}

.linktree{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}

.link{
    color: black;
    display: block;
    width: 30%;
    margin: 1vh;
    border-radius: 2vh;
    text-align: center;
    text-decoration: none;
    background: navajowhite;
    padding: 3%;
    transition: transform 0.5s;
}

.link:hover{
    transform: scale(1.2);
}

.link:active{
    transform: scale(1.1);
}

.link:visited{
    color: black;
}

.navbar {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: left;
}

.navbar li a {
    display: block;
    color: black;
    padding: 1.75vh 1.75vh;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: bisque;
}

.navbar li a:active{
    background-color: burlywood;
}
.navbar a.active{
    background-color: antiquewhite;
}

.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    background-color: white;
    transition: max-height 0.4s, opacity 0.4s;
}

.dropdown:hover .dropdown-content {
    max-height: 30vh;
    opacity: 1;
}

.footer{
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.head_img{
  align-content: center;
  text-align: center;
  font-size: 200%;
  color: white;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 45vh;
}

.mid_txt{
  margin: 5vh 0 5vh 0;
  width: 66vw;
}

.mid_img{
  width: 66vw;
  border-radius: 50%;
}

table, th, td {
  background-color: cornsilk;
  border: 1px /* tutaj specjalnie px*/ solid black;
  border-collapse: collapse;
  padding: 1.75vw;
}
