body{
  height: 100vh;
  width: 30vw;
}

.The_Game{
  left: 30vw;
  width: auto;
  height: 100vh;
  position: relative;
  background-image: url("assets/Flappy Bird/background-day.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.pipe{
  position: absolute;
  bottom: 0;
  height: 70vh;
  width: 6vw;
  background-image: url("assets/Flappy Bird/pipe-green.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pipe.top{
  transform: rotate(180deg);
}

.birb{
  height: 10vh;
  width: 10vh;
  position: fixed;
  z-index: 1000;
  background-image: url("assets/Flappy Bird/yellowbird-midflap.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}