body
{
    background-color: whitesmoke;
}
.LinkRed
{
    color: red;
}

.LinkYellow
{
    color: orange;
}

.LinkGreen
{
    color: green;
}

.img
{
    width: 20%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}